@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

:root{
    --cor-fundo: #f4f7f9;
    --cor-container: #ffffff;
    --cor-primaria: #007b;
    --cor-texto-principal: #333333;
    --cor-texto-secundaria: #6c757d;
    --cor-borda: #dee2e6;
    --fonte-principal: 'Poppins', sans-serifs;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    z-index: -1;
}

#background-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
